version: '2.2'
services:
  aws:
    image: amazon/aws-cli:2.2.9
    env_file: .env
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_ROLE_ARN
      - AWS_REGION
  serverless:
    build:
      dockerfile: serverless.Dockerfile
      context: .
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $PWD/secrets:/app/secrets
    environment:
      - ENVIRONMENT=test
      - SLS_WARNING_DISABLE=*
      - SLS_DEPRECATION_DISABLE=*
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
    working_dir: /app
  terraform:
    image: carlosnunez/terraform:0.13.5
    env_file: .env
    environment:
      - TF_CLI_ARGS_destroy="-force"
      - TF_DATA_DIR=/tmp
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
    volumes:
      - $PWD:/app
    working_dir: /app
    user: root
    entrypoint: 
      - sh
      - ./scripts/execute_terraform.sh
  validate-serverless-infra-production:
    extends: terraform
    environment:
      ENVIRONMENT: "production"
      TF_VAR_environment: "production"
    command:
      - plan
      - --input=false
  deploy-serverless-infra-production:
    extends: terraform
    environment:
      ENVIRONMENT: "production"
      TF_VAR_environment: "production"
    command:
      - apply
      - --auto-approve=true
      - --input=false
  deploy-serverless-domain-production:
    extends: serverless
    environment:
      ENVIRONMENT: "production"
    command:
      - create_domain
      - --stage
      - v1
  deploy-serverless-functions-production:
    extends: serverless
    environment:
      ENVIRONMENT: "production"
    command:
      - deploy
      - --stage
      - v1
  deploy-serverless-infra-test:
    extends: terraform
    environment:
      TF_VAR_no_certs: "true"
      TF_VAR_environment: "test"
    command:
      - apply
      - --auto-approve=true
      - --input=false
  delete-ecr-from-state-test:
    extends: terraform
    environment:
      TF_VAR_environment: "test"
      TF_VAR_aws_ecr_enable: "true"
    command:
      - state
      - rm
      - "aws_ecr_repository.app[0]"
  delete-ecr-from-state-production:
    extends: terraform
    environment:
      TF_VAR_environment: "production"
      TF_VAR_aws_ecr_enable: "true"
    command:
      - state
      - rm
      - "aws_ecr_repository.app[0]"
  deploy-serverless-functions-test:
    extends: serverless
    environment:
      ENVIRONMENT: "test"
    command:
      - deploy
      - --stage
      - develop
  destroy-serverless-infra-test:
    extends: terraform
    environment:
      TF_VAR_no_certs: "true"
      TF_VAR_environment: "test"
    command:
      - destroy
      - --auto-approve=true
      - --input=false
  destroy-serverless-functions-test:
    extends: serverless
    environment:
      ENVIRONMENT: "test"
    command:
      - remove
      - --stage
      - develop
  destroy-serverless-infra-production:
    extends: terraform
    environment:
      TF_VAR_environment: "production"
    command:
      - destroy
      - --auto-approve=true
      - --input=false
  destroy-serverless-functions-production:
    extends: serverless
    environment:
      ENVIRONMENT: "production"
      TF_VAR_environment: "production"
    command:
      - remove
      - --stage
      - v1
  obtain-aws-session-credentials:
    extends: aws
    command:
      - sts
      - assume-role
      - --role-arn
      - "$AWS_ROLE_ARN"
      - --external-id
      - "$AWS_STS_EXTERNAL_ID"
      - --role-session-name
      - "$AWS_SESSION_NAME"
      - --query
      - "Credentials.[AccessKeyId,SecretAccessKey,SessionToken]"
      - --output
      - text
